#HomeImgContainer {
  position: relative;
}

#HomeImgContainer #MyImg {
  border: rgb(80, 80, 80) inset 2px !important;
  width: 99.8% !important;
  height: auto !important;
  margin-bottom: 30px !important;
}

#HomeImgContainer .designer-h1 {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 5vw;
}

#HomeImgContainer .programmer-h1 {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 5vw;
}
